@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  /* ALSO Set the theme-color meta tag in index.js HEAD section */
  --background-modal: #008b8b4b;
  --background-dark: #008b8b;
  --background-white: #fff;
  --border: 3px solid black;
  --background-image-blend: slategrey;
  --font: 'Roboto Slab', serif;
  /* 
  --background-modal: rgba(0, 139, 139, 0.295);
  --background-dark: rgba(0, 139, 139, 1); */


  --color1: #ff0000;
  --color2: #62b4d5;
  --color3: #a0d767;
  --color4: #f4e01d;
  --stripes: linear-gradient(
    45deg,
    #ff0000 12.5%,
    #62b4d5 12.5%,
    #62b4d5 25%,
    #a0d767 25%,
    #a0d767 37.5%,
    #f4e01d 37.5%,
    #f4e01d 50%,
    #ff0000 50%,
    #ff0000 62.5%,
    #62b4d5 62.5%,
    #62b4d5 75%,
    #a0d767 75%,
    #a0d767 87.5%,
    #f4e01d 87.5%,
    #f4e01d 100%
  );
  --stripes2: linear-gradient(
    45deg,
    #f4e01d 12.5%,
    #a0d767 12.5%,
    #a0d767 25%,
    #ff0000 25%,
    #ff0000 37.5%,
    #62b4d5 37.5%,
    #62b4d5 50%,
    #f4e01d 50%,
    #f4e01d 62.5%,
    #a0d767 62.5%,
    #a0d767 75%,
    #ff0000 75%,
    #ff0000 87.5%,
    #62b4d5 87.5%,
    #62b4d5 100%
  );
  --white-stripes: linear-gradient(45deg, #fff 0%, #fff 100%);
}
* {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  box-sizing: border-box;

  touch-action: manipulation;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}
body {
  font-family: var(--font);
  font-size: 18px;
  background: white;
}
body.modal-open {
  overflow: hidden;
  height: 100vh;
}

.content {
  padding: 0 4rem;
  margin: auto;
  max-width: 800px;
}

.topBottomPadding {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
h1 {
  padding: 2rem 0;
  font-weight: 200;
}
ul {
  margin-left: 3rem;
  padding-bottom: 1rem;
}

h2 {
  padding: 1rem 0;
  font-weight: 200;
  text-decoration: underline;
}

.button {
  border: var(--border) !important;
  background-color: var(--background-dark);
  color: var(--background-white);
  font-size: inherit;
  font-family: 'Roboto';
  padding: 1rem 2rem;
  cursor: pointer;
  outline: none;
  user-select: none;

  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: background-image 300ms ease;
}
.button.inverse {
  background: var(--white-stripes);
  color: var(--background-dark);
}
.button:hover {
  background: var(--stripes);
  color: var(--background-white);
  text-shadow: 0 0 2px #333;
  animation: bg 1s;
  animation-delay: 250ms;
  animation-iteration-count: infinite;
}
@keyframes bg {
  0% {
    background: var(--stripes);
  }

  50% {
    background: var(--stripes2);
  }
}
/* .button.inverse:hover {
  background: var(--background-dark);
  color: var(--background-white);
} */
@media (max-width: 500px) {
  .content {
    padding: 0 2rem;
  }
  ul {
    margin-left: 1.5rem;
  }
}
@media (max-width: 350px) {
  .content {
    padding: 0 1rem;
  }
}

.showKeys {
  color: red;
}
