* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  background: white;
}

h1 {
  padding: 2rem 0;
}

h2,
h3 {
  padding: 1rem 0;
}
